<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FootballLeagueApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootballLeagueApplication.styles.css" asp-append-version="true" />
    <link href="~/lib/toastr/build/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @RenderSection("Styles", required: false)
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor, .fa-coffee {
            font-size: 200px
        }
    </style>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="w5-top">
            <div class="w3-bar w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/Teams/Index" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
                <a href="/Teams/TeamsRank" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Team Ranks</a>
                <a href="/Teams/PlayedMatches" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Played Matches</a>
                <a href="/Teams/Teams" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Teams</a>
                <a href="/Teams/TeamsGroup" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Groups</a>

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            &copy; 2023 - Football League Application
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
