@{
    ViewData["Title"] = "Played Matches Detail";
}
<h1>@ViewData["Title"]</h1>
<br></br>

<form action="/action_page.php">

    <div class="col1">
        <label for="fname">Home Team:</label><br></br>
        <select id="homeTeamId"> </select>
    </div>

    <div class="col2">
        <label for="fname">Guest Team:</label><br></br>
        <select id="guestTeamId"> </select>
    </div><br></br><br></br>

    <div class="col1">
        <label for="fname">Home Team Score:</label><br></br>
        <select id="homeTeamPoints">
            <option value="3">Win</option>
            <option value="1" selected>Draw</option>
            <option value="0">Loss</option>
        </select>
    </div>

    <div class="col2">
        <label for="field2">Guest Team Score</label><br></br>
        <select id="guestTeamPoints">
            <option value="3">Win</option>
            <option value="1" selected>Draw</option>
            <option value="0">Loss</option>

        </select>
    </div><br></br><br></br><hr></hr>

    <button type="button" id="createBtn" class="btn btn-primary">Save</button>
    <button type="button" id="canceBtn" class="btn btn-danger">Cancel</button>

</form>

@section Styles{
    <style>

        .col1 {
            float: left;
            width: 200px;
        }

        .col2 {
            float: left;
            width: 200px;
        }

        .clearfix:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    </style>
}


    @section Scripts{

    <script src="~/js/PlayedMatchesDetailScript.js"></script>

    <script>
        var options = {
            teamId: "@ViewBag.Id"
        }
        jQuery(document).ready(function () {
            scriptApp.init(options);

        });


    </script>
    }