@{
    ViewData["Title"] = "Teams";
}
<h1>@ViewData["Title"]</h1>
<br></br>
<button type="button" id = "teamCreateBtn"  class="btn btn-outline-primary">Create</button><hr></hr>

<table id="table1" class="table table-bordered table table-condensed table-responsive">
    <thead>
        <tr>
            <th class="th">Name</th>
            <th class="th">Operations</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Styles{
    <style>

    </style>
}

    @section Scripts{

    <script src="~/js/TeamsScript.js"></script>

    <script>

        jQuery(document).ready(function () {
            scriptApp.init();

        });
        
       
    </script>
    }